<launch>
    <arg name="target_colour" default="red"/>
    
    <node name="task5" pkg="com2009_team46" type="task5.py" args="target_colour $(arg target_colour)" output="screen">
    </node>

    <!-- slam -->
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
    
    </include>
</launch>
        